@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* White */
--White: hsl(0, 0%, 100%); 
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}


body {
    background-color: var(--Light-gray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .card {
    background-color: var(--White);
    width: 275px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}

.container .card img {
    border-radius: 10px;
}


.container .card .card-text {
    padding: 15px 0;
}

.container .card .card-text h1 {
    color: var(--Dark-blue);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.container .card .card-text p {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: 300;
    padding-top: 12px;
}

/* - Mobile: 375px
- Desktop: 1440px  */

/* MEDIA QUERIES */

@media only screen and (max-width: 1440px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

@media only screen and (max-width: 375px) {
    .container .card {
        display: flex;
        width: 0 auto;
    }
}